body {
    margin: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-size: 16px;
}
.navbar-default {
    height: 75px;
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.head-tx {
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin: 20px 0;
    display: inline;
    color: #154368;
}

.head-table {
    margin: 40px 0;
}

.content {
    margin-top: 1px;
}
.style-tx {
    font-size: 20px;
    color: #fff !important;
    background-color: #154368 !important;
    margin-bottom: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;

    border-radius: 4px 4px 0px  0px;
}

.style-tx-his {
    font-size: 20px;
    color: #fff !important;
    background-color: #154368 !important;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;

    border-radius: 4px 4px 0px  0px;
}

.nav-cus{
  border-width: 0 0 0 0;
  background-color: white;
  margin-top: 31px;
}






.form-cl {
    padding: 25px
}
td {
    white-space: nowrap;
}
.bth-style {
    margin-bottom: 23px !important;
    padding: 10px 71px !important;
}
.title>a:hover {
    text-decoration: none !important;
}
.title>a:visited {
    text-decoration: none !important;
}

.title>a:active {
    text-decoration: none !important;
}

.title>a:focus {
    text-decoration: none !important;
}

.icon-ff {
      color: #e16724;
}

.icon-chrome {
      color: #1aa15f;
}
.icon-ie {
  color: #1ebbee;
}


.form-cus {
      width: 70%;
}

#none {
  display: none;
}

.success {
  list-style-type: none;
  /*font-weight: normal;*/
  color: green;
}

.fail {
  list-style-type: none;
  /*font-weight: normal;*/
  color: red;
}

.icon-space {
  margin-right: 8px;
  margin-left: 17px;
}

.type-cus {
  width: 120%;
}

label {
  font-weight: 100;
}

.parent {
  position: relative;
  margin-left: 8px;
}

.fresh-icon {
  width: 35px;
  height: 35px;
  vertical-align: middle;
  margin-bottom: 37px;
}

.target-cus {
  width: 88%;
  margin-left: 13px;
}


.check-cus {
  position: absolute;
  color: #31c731;
  font-size: 45px !important;
  left: 45px;
  top: -9px;
}
/*# sourceMappingURL=main.css.map */



.title{
  margin-bottom: 10px;
}

.list-item{
  padding: 8px 14px 0px 14px;
  border-bottom: 1px solid #ddd;
}

.list-item:last-child {
  border-bottom: 0;
}

.line-tx {
  line-height: 1.3;
}

.tx-list {
  font-size: 16px;
  color: #333;
}


a.link-del.parent:hover {
  text-decoration: none;
}



.browser- {
  opacity: 0.2;
}

.browser-active {
  opacity: 1;
}

img.browser-:hover {
    opacity: 0.4;
}
